@page "/"

<h1>Olá meu caro visitante!</h1>

Bem vindo a nossa aplicação desenvolvida como um desafio.
Iremos aprimorar aos poucos, mas a ideia inicial já temos, apenas para apresentar técnicas de arquitetura e desenvolvimento.

Qualquer dúvida entre em contato comigo mesmo!